*{
  padding: 0;
  margin:0;
  box-sizing:border-box;
}
body {  
  margin: 0;
  font-family: "montserrat";
  background-color: #CDF5FD;
}

.welcomeBox{
  text-align:center;
  font-size:25px;
  color: blueviolet;
  font-weight: bold;
  
}

.outer-box{
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding:5px;
  
}

.home-box{
  flex-direction: column;
}

.form-box{
  /* height: 60vh; */
  /* width: 50vh; */
  background-color: #6499E9;
  margin-top: 50px;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
}

.pointerDiv{
  cursor: pointer;
}